:root {
  --text-color: #d3e0ea;
  --background-color: #18181b;
  --main-color: #856c43;
  --alternative-color: #a9966d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: var(--text-color);
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section-hero {
  position: relative;
  background-image: url(../images/prateek-katyal-Tl0lYXcyT-A-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 40vw;
}

.section-hero--header {
  position: relative;
  top: 15vh;
  width: 100%;
  display: grid;
  grid-template-columns: 60px auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5rem 0;
}

.icon {
  grid-row: span 2;
  font-size: 4.8rem;
}

.section-hero--header h1 {
  margin: 0;
}

.section-hero--header p {
  font-size: 2.2rem;
}

.section-hero--credits {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%);

  font-size: 1.2rem;
  color: var(--text-color);
}

.section-form {
  width: 60vw;
  background-color: var(--background-color);
}

.form-wrapper {
  position: relative;
  top: 15vh;

  max-width: 65rem;
  margin: auto;
}

.form-wrapper p {
  margin-bottom: 4rem;
}

.form-description {
  border-bottom: 3px solid var(--main-color);
  margin-bottom: 3rem;
}

.form ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 0.8rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.form ul li:nth-child(3),
.form ul li:nth-child(4) {
  grid-column: span 2;
}

.form li {
  display: block;
  padding: 9px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
}

.form li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  margin-left: -5px;
  background: var(--background-color);
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: var(--text-color);
  font-size: 14px;
  overflow: hidden;
}

.form input[type='text'],
.form input[type='tel'],
.form input[type='email'],
.form input[type='password'] {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.form li:focus-within:not(:last-child) {
  border: 1px solid var(--alternative-color);
}

.form li > input:focus + span {
  background: var(--alternative-color);
}

.form li > span {
  background: var(--main-color);
  color: var(--text-color);
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  font-size: 11px;
}

.form input[type='submit'] {
  width: 50%;
  cursor: pointer;
  background: var(--alternative-color);
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid var(--main-color);
  border-radius: 2px;
  color: #18181b;
}

.form input[type='submit']:hover {
  background: var(--main-color);
  border-bottom: 3px solid var(--alternative-color);
  color: var(--text-color);
}

.form input[type='submit']:focus {
  outline: none;
  background: var(--main-color);
  border-bottom: 3px solid var(--alternative-color);
  color: var(--text-color);
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--background-color) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}
